.heading{
width: 100%;
margin-top: 0;
box-shadow: 5px 5px gray;
font-size: 25px;
}

.note{
    font-size: 15px;
    color: black;
}


.copy_right-footer{
    position: fixed;
    color: blanchedalmond;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    line-height: 3;
}


canvas{
    background-color: bisque;
    border-radius: 15px;
    border-radius: 15px;
    border: 5px solid grey;
    box-shadow: 10px 10px 20px grey
}